.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  max-width: 550px;
  min-width: 150px;
  margin: 60px auto;
  height: auto;
  padding: 24px;
  background: white;
  border-radius: 12px;
  color: gray;
  font-family: system-ui, sans-serif;
  -webkit-box-shadow: 0px 9px 12px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 9px 12px -10px rgba(66, 68, 90, 1);
box-shadow: 0px 9px 12px -10px rgba(66, 68, 90, 1);
    
}



.formulario h2 {
  padding: 30px 0px 0px 0px;
  text-align: center;
  margin-bottom: 0px;
}
h4{
    width: 100%;
   margin-bottom: 30px;
    
}


/*
.formulario_container{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}
*/
.campo input,
.campo textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid gray;
  background: white;
  color: gray;
  outline: none;
}

.campo input:focus,
.campo textarea:focus {
  border-color: #f5b500;
  
}

.campo textarea {
  min-height: 120px;
  resize: none;
}


.error {
  font-size: 12px;
  color: #f87171;
  margin-top: 4px;
}

button {
  width: 250px;
  padding: 12px;
  background: #f5b500;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #030303;
}
