.container_dedicado{
    width: 100%;
    height: 280px;
    background-color:#F5B500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1024px;
}

.h2_negro{
    color: black;
}

.h4_negro{
    margin: 0;
    color: black;
    width: 600px;
}

.boton_contactenos{
    background-color: aliceblue;
    width: 250px;
    margin: 20px 20px 20px 0px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.boton_contactenos:hover{
    color: #F5B500;
}