
.logo{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    margin: auto;
    align-items: center;
}
.logo_text{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.logo .logo_text img{
    width: 130px;
}

.logo .logo_text p{
    padding-top: 10px;
}

.menu{
    width: 100%;
    height: auto;
    background-color:#F5B500;

}
.menu_nav{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;


}
.menu ul{
    width: 100%;
    height: 80px;
    list-style: none;
}

.menu ul li{
    display: inline;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 500;
}

.menu a:hover{
    color: rgb(19, 18, 17);
}

.bandera{
    display: flex;;
    
}
.bander{
    display: flex;
    justify-content: center;
    align-items: center;
     width:15px;
    height: 15px;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 3px;
    
}

.bander .amarillo{
    width: 12px;
    height: 2px;
    padding: 2px;
    background-color: rgb(228, 231, 7);
    display: block;
    
    
}


.bander .azul{
    width: 12px;
    height: 2px;
    background-color: rgb(16, 31, 241);
    display: block;
    padding: 2px;
}


.bander .rojo{
    width: 12px;
    height: 2px;
    background-color: rgb(226, 10, 3);
    padding: 2px;
    display: block;
}