.card_container{
    width: 270px;
    height: auto;
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    min-height:500px;
    -webkit-box-shadow: 0px 9px 12px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 9px 12px -10px rgba(66, 68, 90, 1);
box-shadow: 0px 9px 12px -10px rgba(66, 68, 90, 1);
    }
.card_container:hover{
        cursor: pointer;   
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;   
    }
.card_titulo{
    width:100%;
    height: 60px;
    background-color: #f5B500;
    font-family: "lemon milk";   
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    }   

.precio{
    font-family: "LEMON MILK";
    font-weight: 800;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    }
    
.detalles{
    width: 100%;
   
    background: linear-gradient(0deg, #fafbfc00, #f5f5f5);
    padding: 10px;
    
    }
.detalles .incluye{
    padding-top: 12px;
}    

.detalles p{
    text-align: center;
    font-weight: 600;
    }


h6{
    font-size: 11px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.7px
    }

    
.check{
    color: #f5B500;
    }

.megas{
    padding-left: 10px;   
    color: #f5B500;
    font-family: "LEMON MILK";
    display: flex;
    align-items: center;
    color: #f5B500;
    font-family: "LEMON MILK";
    }
.m1{
    font-size: 40px;
    color: #f5B500;
    font-family: "LEMON MILK";
    margin-left: 10px;
}
.m2{
    background-color: black;
    padding: 3px 5px 3px 5px;
    margin-left: 6px;
}



.precio_final{
    text-align: center;
    font-family: "LEMON MILK";
    font-weight: 800;
    font-size: 25px;
    padding: 10px 20px 10px 20px;;
    }