.footer{
    width: 100%;
    height: 600px;
    background-color: black;
    
  


}

.reservados{
    color: rgb(100, 99, 99);
    font-size: 12px;
    text-align: center;
    padding-top: 60px;
}
.footer_container{
    display: flex;
    width: 1024px;
    margin: auto;
    justify-content: space-between;
    color: white;
    padding-top: 120PX;
    

}


.footer p{
    color: #f5b500;
    font-weight: 600;
    margin-right: 60px;
}
