.contenedor_general{
    width: 100%;
    height: 550px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_container{
   
    width: 250px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    
    align-items: center;
    box-shadow: 0p;
}


.name_plan{
    margin-top: 8px;
    Border-radius: 6px 6px 0px 0px;
    font-family: "lemon milk";   
    text-align: center;
    justify-content: center;
    background-color: #f5B500;
    width: 94%;
    height: 60px;
    display: flex ;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
    
}
.name_plan h5{
    font-size: 25px;
    font-weight: 600;
}



.precio_promo{
    margin-top: 15px;
    font-family: "LEMON MILK";
    font-weight: 800;
    font-size: 25px;
}

.textp{
    font-size: 11px;
    text-align: center;
}

.description p{
    font-weight: 600;
}

.check{
    color: #f5B500;
}
.incluye{
    text-align: center;
    font-weight: bold;
    margin-top: 15px    ;
}
.contenedori{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lab(96.54% 0.01 -0.01);
    background: linear-gradient(0deg, #fafbfc00, #f5f5f5);
    padding: 5px;
    margin-bottom: 10px;
}
.megas{
    display: flex;
    align-items: center;
    
    color: #f5B500;
    font-family: "LEMON MILK";
}
.m1{
    font-size: 40px;
    color: #f5B500;
    font-family: "LEMON MILK";
    margin-left: 10px;
}
.m2{
    background-color: black;
    padding: 3px 5px 3px 5px;
    margin-left: 6px;
}