.seccion{
    width: 100%;
    height: 250px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    
}
h2{
    margin: auto;
    color: #F5B500;
    font-family: "LEMON MILK";
    font-weight: 800;
}

.seccion_card{
    background-color: #f5f5f5;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
 

}

.seccioni{
    display: flex;
    justify-content: space-around;
    gap:50px;}