.seccion{
    margin-top: 150px;
    margin-bottom: 150px;
}

.seccion_card{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;

 
    
}


.seccioni{
    width: 1024px;
    display: flex;
    gap: 20px;
}